

/*header responsive

    * Normal desktop :1200px. */

    @media (min-width: 1200px) and (max-width: 1500px) {
   
        
          
        
    }
    



   
    
    /* Normal desktop :992px. */
    
    @media (min-width: 992px) and (max-width: 1200px) {

        
    header {
    
    height: 110vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 30% 100%, 0% 93%);
  
  
  }
  
       
        .banner-image{
            height: 444px;
          width: 800px;
          margin-left: 8.3%;
          margin-top: 170px;
          border-radius: 20px;
          
          }

          .mil-innovation{

            margin-left: 8.3%;
            margin-top: 126px;
            font-weight: bold;
            font-size: 24px;
            line-height: 40px;
             
            
            }

            .images{
                align-items: center;
                   align-self: center;
                  margin-top:10%;
                 margin-left: 30px;
                
                 
                }

                .image-circle1{
 
                    position: absolute; 
                    top: -40px;
                    left: 270px; 
                    width: 89px;
                    margin-left: auto;
                    float: right;
                    
                    
                    
                    }
                    
                    .image-circle2{
                      position: absolute; 
                    top: -40px;
                    right: 270px; 
                      width: 89px;
                    margin-right: auto;
                    float: left;
                    }
    }
    
    
    /* Tablet desktop :768px.======== IPAD ==== */
    
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) 
     { 

        header .header {
    
            height:176000rem; 
          
          }
          
                .banner-image{
                    height: 300px;
                  width: 600px;
                  margin-left: 8.3%;
                  margin-top: 100px;
                  border-radius: 20px;
                  
                  }
        
                  .mil-innovation{
        
                    margin-left: 8.3%;
                    margin-right: 8.3%;
                    margin-top: 118px;
                    
                    font-size: 24px;
                    line-height: 40px;
                     
                    
                    }

                    .images, .images3{
                       
                          margin-top:10%;
                         margin-left: 0px;
                        
                         
                        }
                        
                        .images2{
                           
                              margin-top:10%;
                             margin-left: 0px;
                             width: 100%;
                            
                             
                            }

                           
                            
                        .section-image{
                            background: linear-gradient(135.17deg, #008080 0%, #314646);
                        border-radius: 22.3521px;
                        margin-top:20vh;
                        width: 100%;
                        height: 442.13px;
                        
                        
                        }
                        
                        .devops{
                            font-family: Manrope;
                        font-size: 30px;
                        font-style: normal;
                        padding-right: 19px;
                        padding-left: 0px;
                        
                        }
                        
                        .devs{
                           margin-top:30px;
                        width: 106px;
                        height: 49.67px;
                        /*left: 1124.17px;*/
                        top: 2361.58px;
                        
                        }
            }
            

            @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) 
    and (orientation: Landscape) {
        header {
    
            height:10vh; 
           
          
          }
          
                .banner-image{
                    height: 100px;
                  width: -290px;
                  size: 20px;
                 image-orientation: 90deg;
                  margin-left: 8.3%;
                  position: relative;
                  top: 170px;
                  border-radius: 20px;
                  
      
                  }
        
                  .mil-innovation{
        
                    margin-left: 8.3%;
                    margin-right: 8.3%;
                    margin-top: 18px;
                    
                    font-size: 14px;
                    line-height: 0px;
                     
                    
                    }

                    .images, .images3{
                       
                          margin-top:10%;
                         margin-left: 0% 
                        
                         
                        }
                        
                        .images2{
                           
                              margin-top:10%;
                             margin-left: 0px;
                             width: 100%;
                            
                             
                            }

                           
                            
                        .section-image{
                            background: linear-gradient(135.17deg, #008080 0%, #314646);
                        border-radius: 22.3521px;
                        margin-top:20vh;
                        width: 100%;
                        height: 442.13px;
                        
                        
                        }
                        
                        .devops{
                            font-family: Manrope;
                        font-size: 30px;
                        font-style: normal;
                        padding-right: 0px;
                        padding-left: 0px;
                        
                        }
                        
                        .devs{
                           margin-top:30px;
                        width: 106px;
                        height: 49.67px;
                        /*left: 1124.17px;*/
                        top: 2361.58px;
                        
                        }
    }


    /* ===== IPAD PRO ======= */
            
            @media only screen 
            and (min-device-width: 1024px) 
            and (max-device-width: 1366px) 
            and (-webkit-min-device-pixel-ratio: 2) { 
        
                header {
            
                    height: 120vh;
                  
                  }
                  
                        .banner-image{
                            height: 444px;
                          width: 800px;
                          margin-left: 8.3%;
                          margin-top: 320px;
                          border-radius: 20px;
                          
                          }
                
                          .mil-innovation{
                
                            margin-left: 8.3%;
                            margin-right: 8.3%;
                            margin-top: 118px;
                            font-weight: bold;
                            font-size: 25px;
                            line-height: 38px;
                            
                             
                            
                            }
                            .vector{
                                margin-top: 125px;
                            }
        
                            .images, .images3{
                                align-items: center;
                                   align-self: center;
                                  margin-top:10%;
                                 margin-left: 38px;
                                
                                 
                                }
                                
                                .images2{
                                    align-items: center;
                                       align-self: center;
                                      margin-top:10%;
                                     margin-left: 40px;
                                     width: 70%;
                                    
                                     
                                    }
        
                                  
                                        
                                    
                                .section-image{
                                    background: linear-gradient(135.17deg, #008080 0%, #314646);
                                border-radius: 22.3521px;
                                margin-top:20vh;
                                width: 100%;
                                height: 442.13px;
                                
                                
                                }
                                
                                .devops{
                                    font-family: Manrope;
                                font-size: 30px;
                                font-style: normal;
                                padding-right: 19px;
                                padding-left: 0px;
                                
                                }
                                
                                .devs{
                                   margin-top:30px;
                                width: 106px;
                                height: 49.67px;
                                /*left: 1124.17px;*/
                                top: 2361.58px;
                                
                                }
                    }
                    
                    
                    @media only screen 
                    and (min-device-width: 1024px) 
                    and (max-device-width: 1366px) 
                    and (-webkit-min-device-pixel-ratio: 2)
                    and (orientation: Landscape){
                        header {
            
                            height: 1359px;
                          
                          }
                          
                                .banner-image{
                                    height: 444px;
                                  width: 80%;
                                  margin-left: 8.3%;
                                  margin-top: 10%;
                                  border-radius: 20px;
                                  
                                  }
                        
                                  .mil-innovation{
                        
                                    margin-left: 8.3%;
                                    margin-right: 8.3%;
                                    margin-top: 118px;
                                    font-weight: bold;
                                    font-size: 25px;
                                    line-height: 150%;
                                    
                                    }

                                    .images, .images3{
                                        align-items: center;
                                           align-self: center;
                                          margin-top:10%;
                                         margin-left: 19.5%;
                                        
                                         
                                        }
                                        
                                        .images2{
                                            align-items: center;
                                               align-self: center;
                                              margin-top:10%;
                                             margin-left: 90px;
                                             width: 55%;
                        
                                            }

                                            .devops{
                                                font-family: Manrope;
                                            font-size: 30px;
                                            font-style: normal;
                                            padding-right:35%;
                                            padding-left: 0px;
                                            
                                            }
                    }
    
     

  /* Large Mobile :480px. */
    
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    
     header {
    
            height: 159vh;
            clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 30% 100%, 0% 93%);
          
          
          }
          
               
                .banner-image{
                    height: 280px;
                  width: 240px;
                  margin-left: 8.3%;
                  margin-top: 30px;
                  border-radius: 20px;
                  
                  }
        
                  .mil-innovation{
        
                    margin-left: 8.3%;
                    margin-right: 8.3%;
                    margin-top: 80px;
                    font-weight: bold;
                text-align: center;
                    font-size: 15px;
                    line-height: 23px;
                     
                    
                    }
                    .images, .images3{
                        align-items: center;
                           align-self: center;
                          margin-top:10%;
                         margin-left: 14px;
                         
                        }

                        .devops{
                            font-family: Manrope;
                        font-size: 30px;
                        font-style: normal;
                        padding-right: 17px;
                        padding-left: 0px;
                        
                        }

                        /*footer begins here */
                        .copyright-menu li {
                            display: inline-block;
                            padding-left: 0px;
                            margin-top: 20px;
                            
                         }
   
}
  

/*=====Iphone 5 -====== */

   

@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px) 
    and (-webkit-min-device-pixel-ratio: 2) 
    and (orientation: Portrait){ 

        header {
    
            height: 120vh;
            clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 30% 100%, 0% 93%);
          
          
          }
          
               
                .banner-image{
                    position: relative;
                    bottom: 60px;
                    left: 10px;
                    height: 5%;
                  width: 880px;
                  margin-left: 9%;
                  margin-top: 2px;
                  border-radius: 20px;
                  
                  }
        
                  .mil-innovation{
        
                    margin-left: 8.3%;
                    margin-right: 8.3%;
                    margin-top: 80px;
                    font-weight: bold;
               text-justify: center;
                    font-size: 15px;
                    line-height: 25px;
                     
                    
                    }
                    .images, .images3{
                        align-items: center;
                           align-self: center;
                          margin-top:10%;
                         margin-left: 20px;
                         
                        }
    
                        .img{
                            margin-top: -13px;
                        }
    
                        .images2{
                            align-items: center;
                               align-self: center;
                              margin-top:10%;
                             margin-left: 45px;
                             width: 77%;
                             
                            }
    
                            
    
                        .devops{
                            font-family: Manrope;
                        font-size: 30px;
                        font-style: normal;
                        padding-right: 90px;
                        padding-left: 0px;
                        
                        }
    
                        /*footer begins here */
                        .copyright-menu li {
                            display: inline-block;
                            padding-left: 0px;
                            margin-top: 20px;
                            
                         }
            
}


@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px) 
    and (-webkit-min-device-pixel-ratio: 3.5) 
    and (orientation: Landscape){ 

        header {
    
            height: 120vh;
            clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 30% 100%, 0% 93%);
          
          
          }
          
               
                .banner-image{
                    position: relative;
                    bottom: 60px;
                    right: 30px;
                   
                    height: 5%;
                  width: 280px;
                  margin-left: 9%;
                  margin-top: 2px;
                  border-radius: 20px;
                  
                  }
        
                  .mil-innovation{
        
                    margin-left: 8.3%;
                    margin-right: 8.3%;
                    margin-top: 80px;
                    font-weight: bold;
               text-justify: center;
                    font-size: 15px;
                    line-height: 25px;
                     
                    
                    }
                    .images, .images3{
                        align-items: center;
                           align-self: center;
                          margin-top:10%;
                          position: relative;
                       right: 50px;
                         
                        }
    
                        .img{
                            margin-top: -13px;
                        }
    
                        .images2{
                            align-items: center;
                               align-self: center;
                              margin-top:10%;
                             margin-left: 45px;
                             width: 77%;
                             
                            }
    
                            
    
                        .devops{
                            font-family: Manrope;
                        font-size: 30px;
                        font-style: normal;
                       
                        padding-right: 0px;
                        padding-left: 0px;
                       
                        }

                        .devs{
                            padding-right: -30px;
                        padding-left: 0px;
                        z-index: 3;
                        
                           
                        }
    
                        /*footer begins here */
                        .copyright-menu li {
                            display: inline-block;
                            padding-left: 0px;
                            margin-top: 20px;
                            
                         }
            
}
    
    
  
/* FOLD */   
    @media only screen 
    and (min-device-width: 280px) 
    and (max-device-width: 653px) 
    and (-webkit-min-device-pixel-ratio: 2) { 

        header {
    
            height: 150vh;
            clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 30% 100%, 0% 93%);
          
          
          }
          
               
                .banner-image{
                    height: 280px;
                  width: 200px;
                  margin-left: 8.3%;
                  margin-top: 90px;
                  border-radius: 20px;
                  
                  }
        
                  .mil-innovation{
        
                    margin-left: 8.3%;
                    margin-right: 8.3%;
                    margin-top: 80px;
                    font-weight: bold;
                text-align: center;
                    font-size: 15px;
                    line-height: 25px;
                     
                    
                    }
                    .images, .images3{
                        align-items: center;
                           align-self: center;
                          margin-top:10%;
                         margin-left: 0px;
                         
                        }

                        .images2{
                            width: 100%;
                            margin-left: 0px;
                        }
    
                        .devops{
                            font-family: Manrope;
                        font-size: 26px;
                        font-style: normal;
                        padding-right: 50px;
                        padding-left: 0px;
                        
                        }
    
                        /*footer begins here */
                        .copyright-menu li {
                            display: inline-block;
                            padding-left: 0px;
                            margin-top: 20px;
                            
                         }
            
    }    



/*--------galaxy S5------*/
@media only screen 
and (min-device-width: 360px) 
and (max-device-width: 640px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: Portrait){

    header {
    
        height: 140vh;
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 30% 100%, 0% 93%);
      
      
      }
      
           
            .banner-image{
                position: relative;
                bottom: 30px;
                height: 280px;
              width: 70%;
              margin-left: 8.9%;
              margin-top: 30px;
              border-radius: 20px;
              
              }
    
              .mil-innovation{
    
                margin-left: 8.3%;
                margin-right: 8.3%;
                margin-top: 80px;
                font-weight: bold;
            text-align: center;
                font-size: 15px;
                line-height: 25px;
                 
                
                }


               
                .images, .images3{
                    align-items: center;
                       align-self: center;
                      margin-top:10%;
                     margin-left: 10vw;
                     
                    }
                    .images2{
                        align-items: center;
                           align-self: center;
                          margin-top:10%;
                         margin-left: 35px;
                         width: 70%;
                         
                        }

                      

                    .devops{
                        font-family: Manrope;
                    font-size: 30px;
                    font-style: normal;
                    padding-right: 44px;
                    padding-left: 0px;
                    
                    }

                    /*footer begins here */
                    .copyright-menu li {
                        display: inline-block;
                        padding-left: 0px;
                        margin-top: 20px;
                        
                     }
        
}




/* SURFACE DUO */


@media only screen 
and (min-device-width: 540px) 
and (max-device-width: 720px) 
and (-webkit-min-device-pixel-ratio: 4.3)
and (orientation: Portrait) { 

    header {
    
        height: 120vh;
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 30% 100%, 0% 93%);
      
      
      }
      
           
            .banner-image{
                height: 280px;
              width: 1000vmax;
              margin-left: 8.3%;
              margin-top: 4px;
              border-radius: 20px;
              border-image-width: 30px;

            
              
              }
    
              .mil-innovation{
    
                margin-left: 8.3%;
                margin-right: 8.3%;
                margin-top: 80px;
                font-weight: bold;
            text-align: center;
                font-size: 15px;
                line-height: 30px;
                 
                
                }
                .images, .images3{
                    align-items: center;
                       align-self: center;
                      margin-top:10%;
                    position: relative;
                    left: 60px;
                     
                    }
.images2{
    width: 20%;
}
                    .devops{
                        font-family: Manrope;
                    font-size: 30px;
                    font-style: normal;
                    padding-right: 7694px;
                    padding-left: 0px;
                    
                    
                    }

                    /*footer begins here */
                    .copyright-menu li {
                        display: inline-block;
                        padding-left: 0px;
                        margin-top: 20px;
                        
                     }
    
}


/* pixel 2l */

@media screen 
  and (device-width: 411px) 
  and (device-height: 823px) 
  and (-webkit-device-pixel-ratio: 3.5) 
  and (orientation: Portrait) {


    .banner-image{
        height: 280px;
      width: 619px;
      margin-left: 9.3%;
      margin-top: 4px;
      border-radius: 20px;
      
      }

      .mil-innovation{
    
        margin-left: 8.9%;
        margin-right: 8.3%;
        margin-top: 80px;
        font-weight: bold;
    text-align: center;
        font-size: 18px;
        line-height: 30px;
         
        
        }
    .images, .images3{
        align-items: center;
           align-self: center;
          margin-top:10%;
         margin-left: 35px;
         
        }

        .devops{
            font-family: Manrope;
        font-size: 30px;
        font-style: normal;
        padding-right: 604px;
        padding-left: 0px;
        
        }

}



@media only screen 
and (min-device-width: 411px) 
and (max-device-width: 823px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: Landscape){

    header{
        height: 210vh;
    }


    .banner-image{
        position: relative;
        bottom: 60px;
        height: 280px;
      width: 619px;
      margin-left: 9.3%;
      margin-top: 0px;
      border-radius: 20px;
      position: relative;
      top:-90%;
      
      }

      .mil-innovation{
    
        margin-left: 8.9%;
        margin-right: 8.3%;
        margin-top: 80px;
        font-weight: bold;
    text-align: center;
        font-size: 18px;
        line-height: 30px;
         
        
        }
    .images, .images3{
        align-items: center;
           align-self: center;
          margin-top:10%;
         margin-left: 5px;
         
        }

        .images2{
            width: 100%;
            margin-left: 5px;
        }

        .devops{
            font-family: Manrope;
        font-size: 30px;
        font-style: normal;
        padding-right: 34px;
        padding-left: 0px;
        
        }
  }




/* ======================= iphone X ========================= */

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: Portrait) { 

    header {
    
        height: 110vh;
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 30% 100%, 0% 93%);
      
      }
      .banner-image{
        height: 280px;
        position: relative;
        bottom: 90px;
      width: 620px;
      margin-left: 8.3%;
     position: relative;
     top:6px;
      border-radius: 20px;
      
      }
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: Landscape) { 

    header {
    
        height: 210vh;
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 30% 100%, 0% 93%);
        
      }

      .banner-image{
        height: 280px;
        position: relative;
       top: -100px;
      width: 620px;
      margin-left: 8.3%;
    margin-bottom: 40%;
      border-radius: 20px;
      
      }

      .mil-innovation{
    
        margin-left: 8.3%;
        margin-right: 8.3%;
        margin-top: 80px;
        font-weight: bold;
   text-justify: center;
        font-size: 18px;
        line-height: 25px;
         
        
        }

        .images, .images3{
            align-items: center;
               align-self: center;
              margin-top:10%;
             margin-left: 5px;
             
            }
    
            .img{
                margin-top: -13px;
            }
    
            .images2{
                align-items: center;
                   align-self: center;
                  margin-top:10%;
                 margin-left: 5px;
                 width: 100%;
                 
                }
    
               
            .devops{
                font-family: Manrope;
            font-size: 30px;
            font-style: normal;
            padding-right: 10px;
            padding-left: 0px;
            
            }
    
}


@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 2) { 

    .banner-image{
        height: 280px;
      width: 400px;
      margin-left: 8.3%;
      margin-top: 10px;
      border-radius: 20px;
      
      }
}


@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 2) 
and (orientation: Landscape) { 

    header {
    
        height: 900px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 30% 100%, 0% 93%);
      
      
      }
      .mil-innovation{
    
        margin-left: 8.3%;
        margin-right: 8.3%;
        margin-top: 80px;
        font-weight: bold;
   text-justify: center;
        font-size: 18px;
        line-height: 25px;
         
        
        }
    .banner-image{
        position: relative;
        bottom: 70px;
        height: 100%;
      width: 580px;
      margin-left: 8.3%;
      margin-bottom: 900px;
      border-radius: 20px;
      
      }

      .images, .images3{
        align-items: center;
           align-self: center;
          margin-top:10%;
         margin-left: 185px;
         
        }

        .img{
            margin-top: -13px;
        }

        .images2{
            align-items: center;
               align-self: center;
              margin-top:10%;
             margin-left: 145px;
             width: 40%;
             
            }

           
        .devops{
            font-family: Manrope;
        font-size: 30px;
        font-style: normal;
        padding-right: 390px;
        padding-left: 0px;
        
        }

        /*footer begins here */
        .copyright-menu li {
            display: inline-block;
            padding-left: 0px;
            margin-top: 20px;
            
         }

}

  /* ======================= iphone 6 7 8 ========================= */

  @media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 


    header {
    
        height: 900px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 30% 100%, 0% 93%);
      
      
      }
      
           
            .banner-image{
                height: 280px;
              width: 280px;
              margin-left: 8.3%;
              margin-top: 10px;
              border-radius: 20px;
              
              }
    
              .mil-innovation{
    
                margin-left: 8.3%;
                margin-right: 8.3%;
                margin-top: 80px;
                font-weight: bold;
           text-justify: center;
                font-size: 15px;
                line-height: 25px;
                 
                
                }
                .images, .images3{
                    align-items: center;
                       align-self: center;
                      margin-top:10%;
                     margin-left: 45px;
                     
                    }

                    .img{
                        margin-top: -13px;
                    }

                    .images2{
                        align-items: center;
                           align-self: center;
                          margin-top:10%;
                         margin-left: 45px;
                         width: 70%;
                         
                        }

                      

                    .devops{
                        font-family: Manrope;
                    font-size: 30px;
                    font-style: normal;
                    padding-right: 90px;
                    padding-left: 0px;
                    
                    }

                    /*footer begins here */
                    .copyright-menu li {
                        display: inline-block;
                        padding-left: 0px;
                        margin-top: 20px;
                        
                     }
        
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) 
and (orientation: Landscape) { 


    header {
    
        height: 900px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 30% 100%, 0% 93%);
      
      
      }
      
           
            .banner-image{
                height: 280px;
              width: 80%;
              margin-left: 9%;
              margin-top: 10px;
              border-radius: 20px;
              
              }
    
              .mil-innovation{
    
                margin-left: 8.3%;
                margin-right: 8.3%;
                margin-top: 80px;
                font-weight: bold;
           text-justify: center;
                font-size: 15px;
                line-height: 25px;
                 
                
                }
                .images, .images3{
                    align-items: center;
                       align-self: center;
                      margin-top:10%;
                     margin-left: 30%;
                     
                     
                    }

                    .img{
                        margin-top: -13px;
                    }

                    .images2{
                        align-items: center;
                           align-self: center;
                          margin-top:10%;
                         margin-left: 145px;
                         width: 36%;
                         
                        }

                       
                    .devops{
                        font-family: Manrope;
                    font-size: 30px;
                    font-style: normal;
                    padding-right: 60%;
                    padding-left: 0px;
                    
                    }

                    /*footer begins here */
                    .copyright-menu li {
                        display: inline-block;
                        padding-left: 0px;
                        margin-top: 20px;
                        
                     }
        
}




